// ********** Variables ********** //
//Colores
$primary-color:#000000;
$primary-color-transparent:#000000c6;
$secundary-color:#0d0d0d;
$secundary-color-transparent:#0d0d0dc6;
$tertiary-color:#0a8967;
$tertiary-color-transparent:#0a8967aa;
$quaternary-color:#09c184;
$quaternary-color-transparent:#09c184bf;
$quinary-color:#07f9a2;
// Texto
$primary-text-color:#ffffff;
$primary-text-font:'Inter', sans-serif;

// ********** Mixins ********** //
// -- Flex --
@mixin Flex-System($direction, $justy, $align, $wrap, $gap ){
    display: flex;
    flex-direction: $direction;
    justify-content: $justy;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}
// -- Grid --
@mixin Grid-System($columns, $rows, $gap){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}


// Styles
.body{
    margin: 0;
    padding: 0;
    background-color:rgb(121, 121, 121);
    border-left: 5px solid $tertiary-color;
    animation-name: border_body;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}
@keyframes border_body {
    100%{border-left:5px solid $tertiary-color;}
    90%{border-left: 5px solid $quinary-color;}
    80%{border-left: 5px solid $primary-color;}
    70%{border-left: 5px solid rgb(132, 255, 98);}
}
*{scroll-behavior: smooth;}

.section{

    &__h2{
        color: $quinary-color;
        font-family: $primary-text-font;
    }
    &__div{
        margin: 0;
        background-color: $quinary-color;
        width: 50%;
        height: 0.2em;
    }
}
/********************  Header ********************/
.header{
    background-image: url(../img/background/background_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    &__contain{
        background-color: $primary-color-transparent;
        height: 100%;
    }
    &__button{
        display: none;
        color: $primary-text-color;
        background-color: rgba(0, 0, 0, 0);
        width: 4em;
        height: 4em;
        border: none;
    }
    &__svg{
        width: 100%;
        height: 100%;
    }
    &__logo{
        opacity: 0;
        text-align: center;
        width: 8em;
    
        animation-name: respaun-animation;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode:forwards;
    }
    &__a{
        user-select: none;
    }
    &__img{
        width: 4em;
        transition: all 1s ease;

        &:hover{
            transition: all 1s ease;
            scale: 1.5;
        }
        &:active{
            transition: all 1s ease;
            scale: 1.5;
        }
    }
    &__section-nav{
        color: $primary-color;
        @include Flex-System(row, space-between, flex-start, nowrap, 15%);
        position: fixed;
        width: 100%;
        transition: all 0.5s ease;
        z-index:999;

        &.activo{
            background-color:$secundary-color;
            transition: all 0.5s ease;
            padding-top:10px;
        }
    }
}
.nav{
    padding-right:30px;
    user-select: none;

    &__ul{
        list-style: none;
        @include Flex-System(row, space-between, center, nowrap, 30px);
    }
    &__a{
        font-size: 1.05em;
        font-family: $primary-text-font;
        color: $primary-text-color;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover{
            transition: all 0.3s ease;
            color: $quinary-color;
            text-shadow: 0px 0px 3px $quinary-color;
        }
        &:active{
            transition: all 0.3s ease;
            color: var(--quinary-text-color);
            text-shadow: 0px 0px 3px $quinary-color;
        }
    }
}

@media screen and (max-width:720px){
    .header{
        &__section-nav{
            background-color: $secundary-color-transparent;
            @include Flex-System(row, space-between, center, wrap, 0);
        }
        &__button{
            display: block;
        }
    }
    .nav{
        width: 100%;
        height: 0vh;
        transition: all 0.5s ease;
        overflow: hidden;

        &__ul{
            @include Flex-System(column, center, center, nowrap, auto);
        }
        &.activo{
            height: 40vh;
        }
    }
}

/********************  Section 0: Encabezado ********************/
.head{
    padding-top: 10em;
    @include Flex-System(row, space-around, flex-start, wrap, auto);

    &__span{
        color: $primary-text-color;
    }
    &__h1{
        color: $quinary-color;
        font-size: 4.6vw;
        margin: 0;
    }
    &__h2{
        color: $tertiary-color;
        font-size: 3.5vw;
    }
    &__a{
        background-color: $primary-color;
        width: 2em;
        height: 2em;
        font-size: 1.1em;
        border: 1px solid $quinary-color;
        border-radius: 10em;
        @include Flex-System(row, center, center, nowrap, 0);
    
        text-decoration: none;
        color: $quinary-color;
        transition: all 0.5s ease;

        &:hover{
            scale: 1.2;
            transition: all 0.5s ease;
            color: $primary-color;
            background-color: $quinary-color;
        }
        &:active{
            scale: 1.2;
            transition: all 0.5s ease;
            color: $primary-color;
            background-color: $quinary-color;
        }
    }
    &__img{
        width: 25vw;
        min-width: 16em;
        border-radius: 10em;
        transition: all 1s ease;
    
        animation-name: respaun-animation;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;

        &:hover{
            scale: 1.1;
            transition: all 1s ease;
        }
        &:active{
            scale: 1.1;
            transition: all 1s ease;
        }
    } 
    
}

.head{
    user-select: none;
    &__section-info{
        opacity: 0;
        animation-name: respaun-animation;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    &__section-title{
        font-family: $primary-text-font;
        margin: 0;
    }
    &__section-social{
        @include Flex-System(row, flex-start, center, nowrap, 1em)
    }
}
@media screen and (max-width:720px) {
    .head{
        padding-top: 20vh;
        @include Flex-System(column-reverse, space-around, center, wrap, auto);
    }
    .head__section-title{
        padding:3vh 0;
        font-size: 0.8em;
    }
}

@keyframes respaun-animation{
    0%{transform: scale(1.5);}
    100%{transform: scale(1);opacity: 1;}
}
/********************  Section 1: About me ********************/
.section-1{
    font-family: $primary-text-font;
    padding: 5em 0;
    background-color: $secundary-color;
    @include Flex-System(row, center, flex-start, wrap, 1.1em);

    &__img{
        width: 25vw;
        box-shadow: -30px -30px 1px 1px rgb(0, 0, 0);
        transition: all 0.5s ease;
        filter:grayscale(0.5);

        &:hover{
            filter:grayscale(0);
            transition: all 0.5s ease;
            box-shadow: -20px -20px 1px 1px rgb(0, 0, 0);
        }
    }
    &__a{
        color: $quinary-color;
        background-color: $secundary-color;
        border: 2px solid $quinary-color;
        font-family: $primary-text-font;
        text-decoration: none;
        font-weight: bold;
        padding: 1em;
        transition: all 0.5s ease;

        &:hover{
            color: $primary-color;
            background-color: $quaternary-color;
            border: 2px solid $primary-color;
        }
    }
}

.section-1{
    &__section-description{
        width: 50%;
    }
    &__section-text{
        color: $primary-text-color;
    }
    &__section-button{
        padding: 2em 0;
    }
}
@media screen and (max-width:720px){
    .section-1{
        &__img{
            width: 80vw;
        }
        &__section-description{
            width: 80vw;
        }
    }
}
/********************  Section 2: Skills ********************/
.section-2{
    user-select: none;
    background-color: $primary-color;
    color: $primary-text-color;
    @include Grid-System(45% auto, auto, 0);
    padding: 3em 0;

    &__img{
        &--img-1{width: 4em;}
        &--img-2{width: 2.5em;}
        &--figure{width: 6em;}
    }
    &__li{
        list-style: none;

        &::before{
            content: '✔ ';
        }
        &:hover{
            color: $quinary-color;
            transition: all 0.5s ease;
            cursor: default;
        }
    }
    &__figure{
        font-family: $primary-text-font;
        font-weight: bold;
        color: $quinary-color;
        padding: 1em 0;
        width: 9em;
        background-color: $secundary-color;
        @include Flex-System(column, space-around, center, nowrap, 0);
        border-radius: 5em;
        border: 2px solid black;
        transition: all 1s ease;

        &:hover{
            border: 2px solid $quaternary-color;
            transition: all 1s ease;
        }
        &:active{
            border: 2px solid $quaternary-color;
            transition: all 1s ease;
        }
    }
}
.section-2{
    &__section-services{
        font-family: $primary-text-font;
        padding: 0 3vw;
        color: $primary-text-color;
    }
    &__education{
        padding: 1em 0;
        @include Flex-System(row, space-between, flex-start, wrap, auto);
    }
    &__section-subtitle{
        @include Flex-System(row, center, center, nowrap, 1em);
    }
    &__section-skills{
        @include Flex-System(row, center, center, wrap, 0em);
    }
}
@media screen and (max-width:920px) {
    .section-2{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width:720px) {
    .section-2{
        &__figure{
            width: 5em;
            margin: 1em;
        }
        &__img--figure{
            width: 2em;
        }
    }
}
/********************  Section 3: Projects ********************/
.section-3{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 3em;
    color: $quinary-color;
    font-family: $primary-text-font;
    background-color: $secundary-color;

    &__container-projects{
        padding-top: 0.5em;
        @include Grid-System(33.3% 33.3% 33.3%, auto, 0em);
    }
}
.project{
    background-color: $primary-color;
    box-shadow: 15px 15px 10px 0px rgb(2, 2, 2);
    transition: all 0.5s ease;
    filter: sepia(0.8);
    
    &:hover{
        filter: sepia(0);
        scale: 1.05;
        transition: all 0.5s ease;
    }
    &:active{
        filter: sepia(0);
        scale: 1.05;
        transition: all 0.5s ease;
    }
    &__img{
        width: 100%;
    }
    &__figcaption{
        padding: 1em;
    }
    &__article{
        color: $primary-text-color;
        height: 20vh;
    }
    &__project-buttons{
        @include Flex-System(row, space-around, center, nowrap, 1em);
    }
    &__a{
        user-select: none;
        text-align: center;
        text-decoration: none;
        font-size: 0.75em;
        font-weight: bold;
        color: $quinary-color;
        padding: 1em;
        width: 100%;
        cursor: pointer;
        border: 2px solid $quinary-color;
        background-color: $primary-color;
        transition: all 0.5s ease;
        border-radius: 10em;
    }
    &__a:hover{
        color: $primary-color;
        border: 2px solid $quinary-color;
        background-color: $quinary-color;
    }
    &__a:active{
        color: $primary-color;
        border: 2px solid $quinary-color;
        background-color: $quinary-color;
    }
}
.project__span{
    padding: 2px;

    &--line{font-weight:normal;}
    &--html{color: $quinary-color;}
    &--bootstrap{color: $quinary-color;}
    &--js{color: rgb(255, 217, 0); }
    &--sass{color: rgb(255, 0, 187); }
    &--php{color: rgb(255, 147, 32);}
    &--pwa{color: rgb(251, 32, 255); animation-name: tag_pwa; animation-iteration-count: infinite; animation-duration: 3s;}
}
@keyframes tag_pwa {
    100%{color:rgb(251, 32, 255);}
    90%{color:rgb(32, 255, 244);}
    80%{color:rgb(32, 114, 255);}
    80%{color:rgb(32, 255, 69);}
}
@media screen and (max-width:1080px) {
    .section-3__container-projects{
        @include Grid-System(50% 50%, auto, 0em);
    }
}
@media screen and (max-width:720px) {
    .section-3__container-projects{
        @include Flex-System(row, center, center, wrap, 0em);
    }
    .project{
        &__span--project-button{
            display: none;
        }
        &__a{
            font-size: 1em;
            padding: 0.5em;
        }
    }
}

/********************  Footer ********************/
.footer{
    user-select: none;
    font-family: $primary-text-font;
    background-color: $primary-color;
    color: $primary-text-color;
    text-align: center;
    padding: 2em 0;
    @include Flex-System(column, center, center, nowrap, 1em);

    &__a{
        color: $primary-text-color;
        text-decoration: none;
        transition: all 0.5s ease;

        &--rocket{
            font-size: 2em;
        }
        &:hover{
            color: $quinary-color;
            text-decoration: none;
        }
        &:active{
            color: $quinary-color;
            text-decoration: none;
        }
    }
}